<!DOCTYPE html>
<html>
<head>
    <title>Mission to Mars</title>
</head>
<body>
    <h1>Mission to Mars</h1>
        <ul class = 'missions'>
        <% for (let i = 0; i<missions.length;i++){ %>
         <li> <%=missions[i].name; %> </li>
        <% } %>
        </ul>
    </body>


</body>
</html>