<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=`, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <ul class="missions">
    <% for(let i = 0; i < marsMissions.length; i++){ %>
    <li><a href="/missions/<%= i %>"><%= marsMissions[i].name %></a></li>
    <% } %>
    </ul>


</body>
</html>