<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <%=mission.name%>
  <%=mission.launchDate%>
  <%=mission.operator%>
  <%=mission.missionType%>
  </body>
</html>
