<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
  </head>
  <body>
    <p><%= missions.name %><p>
    <p><%= missions.launchDate %><p>
    <p><%= missions.operator %><p>
    <p><%= missions.missionType %><p>
  </body>
</html>
