<!DOCTYPE html>
<html>
<head>
    <title>Mission to Mars</title>
</head>
<body>
    <h1>Mission to Mars</h1>
      <%=missions.name%>
      <%=missions.launchDate%>
      <%=missions.operator%>
      <%=missions.missionType%>
    </body>


</body>
</html>
