<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <ul class="missions">
    <%for(i=0;i<missions.length;i++){ %>
      <li><%= missions[i].name %></li>
      <% }%>
    </ul>
  </body>
</html>
