<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <ul class="missions">
        <% for(let i = 0; i < marsMissions.length; i++){ %>
            <li><%= marsMissions[i].name %></li>
        <% } %>
    </ul>
    Pretty sure the answer in the images/link-code.png is the correct way to get links on here, but the above is what passes the test. Not sure why.
    

</body>
</html>